/* Styles for webpack tester */
body {
    margin: 0;
    overflow: hidden;
    background: #bac6c6;
}
#WebGL-output {
    position: relative;
}
.title {
    position: absolute;
    width: 100%;
    top: 1%;
    left: 0%;
}
.infoPanel {
    position: absolute;
}
#info {
    width: 5%;
    bottom: 2%;
    left: 2.5%;
}
#info img {
    width: 100%;
}
#gui {
    top: 20%;
    right: 0%;
}
.guiTab {
    color: white;
}
#timePanel {
    left: 1%;
    top: 1%;
}
#controlPanel {
    width: 20%;
    top: 1%;
    right: 1%;
    color: white;
}
#controlPanel img {
    width: 100%;
}
#playerControls {
    width: 20%;
    top: 1%;
    right: 1%;
}
#playerControls img {
    width: 100%;
}
#distanceControls {
    width: 10%;
    top: 7.5%;
    right: 11%;
    color: white;
}
#distanceControls button {
    padding: 0;
}
#distanceControls img {
    width: 100%;
}
.row > [class^="col-"] {
    padding-right: 2px;
    padding-left: 2px;
}
#fileSelector {
    left: 2%;
    bottom: 5%;
}
#camControls {
    width: 7.5%;
    bottom: 10%;
    right: 2%;
}
#camControls button {
    width: 45%;
    padding: 0;
}
#camControls img {
    width: 90%;
}
